
services: 
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    ports:
      - "4000:4000"
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`backend.local`)"
      - "traefik.http.services.backend.loadbalancer.server.port=4000"
      - "traefik.http.services.backend.loadbalancer.healthcheck.path=/graphql"
    deploy:
      replicas: 1

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: General
      POSTGRES_PASSWORD: root666
      POSTGRES_DB: CoreDB
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  traefik:
    image: traefik:v3.3
    command:
      - "--api.insecure=true" 
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:  
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  db_data: