
services: 
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    expose:
      - "4000"
    depends_on:
      - db
      - test-db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`backend.local`)"
      - "traefik.http.routers.backend.middlewares=ratelimit@docker"
      - "traefik.http.services.backend.loadbalancer.server.port=4000"
      - "traefik.http.services.backend.loadbalancer.healthcheck.path=/health" 
      - "traefik.http.middlewares.ratelimit.ratelimit.average=100"
      - "traefik.http.middlewares.ratelimit.ratelimit.burst=50"
      - "traefik.http.middlewares.ratelimit.ratelimit.period=1s"
    deploy:
      replicas: 1

  db:
    image: postgres:17
    env_file:
      - ./backend/.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  test-db:
    image: postgres:17
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: TestDB
    tmpfs:
      - /var/lib/postgresql/data

  traefik:
    image: traefik:v3.3
    command:
      - "--api.insecure=true" 
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:  
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
    env_file:
      - ./frontend/.env
    ports:
      - "80:80"
    depends_on:
      - backend
      
volumes:
  db_data:
  redis_data: